html {
  font-family: Lora, serif;
  color: #fff;
}

.masthead {
  border-top: 3px solid #145b1d;
  border-bottom: 3px solid #145b1d;
  background-color: #588477;
  background-image: url("../images/leaf-bg.svg");
  background-size: 65px;
  background-repeat: repeat;
  background-position: center;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  color: #fff;
  background-color: #467366;
  border-radius: 5px;
  border: 3px solid #2d5a4d;
}

.nav a:hover {

}

.banner {
  background-image: url("../images/banner.jpg");
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
